@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .highlight-mark {
    background: linear-gradient(120deg, theme("colors.highlight") 0%, theme("colors.highlight") 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.35em;
    background-position: 0 88%;
  }
}
